


body {
    background-color: #ed0303;
    color: #fff;
    margin: 0 auto;
    font-family: Tahoma,Verdana,Arial,sans-serif
}




.container {
    height: 630px;
    margin: 2px auto;
    width: 100%;
    max-width: 1024px
}


















